.filter-button {
    background-color: white;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

.filter-container {
    margin: 2vw 5vw;
    padding: 5px;
    display: flex;
    justify-content: end;
    border-bottom: #00000057 1px solid;
}

button>img {
    border: none;
    width: 20px;
    padding-right: 6px;
}




.filter-popup {
    display: none;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.filter-content {
    background-color: #fefefe;
    margin: 0;
    padding: 3vw 2vw;
    width: 30%;
    position: absolute;
    right: 0;
    height: 660px;
}

.filter-content-types h3 {
    padding: 15px;
    padding-bottom: 8px;
    padding-left: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    font-size: 22px;

    margin-bottom: 13px;
}

.filter-content-types p,
.filter-content-types span {
    font-size: 20px;
}

.filter-content-types span {
    margin-right: 15px;
}

.close-button {
    color: black;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 38px;
    font-weight: bold;
}

.close-button:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    appearance: none;
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: none;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

input[type="checkbox"]:checked {
    background-color: black;
}

/* Box, user input of max price */
input[type="text"] {
    position: relative;
    top: -2px;
}