.filter-button {
    background-color: white;
    color: black;
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border: 1px solid black;
    height: 40px;

    display: flex;
    align-items: center;
}

button>img {
    border: none;
    width: 20px;
    padding-right: 6px;
}

.filter-container {
    margin: 1vw 5vw 3vw 5vw;
    padding: 5px;
    display: flex;
    justify-content: end;
    border-bottom: #00000057 1px solid;
    justify-content: space-between;
}


.filter-popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.filter-content {
    background-color: #fefefe;
    margin: 0;
    padding: 3vw 2vw;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
}

.filter-content h1 {
    font-size: 30px;
}

.filter-content-types h3 {
    text-transform: uppercase;
    padding: 15px;
    margin-top: 62px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 26px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.filter-content-types div:first-of-type h3 {
    margin-top: 0;
}

.input-box {
    height: 25px;
    width: 20px;
    margin: 13px;
}

.input-price {
    height: 25px;
    width: 100px;
}


.filter-content-types label,
.filter-content-types p {
    text-transform: uppercase;
    font-size: 22px;
}



.close-button {
    color: black;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 38px;
    font-weight: bold;
}

.close-button:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sortByContainer {
    display: flex;
    align-items: end;
    margin-bottom: 6px;
}


.sortByContainer p {
    font-family: "Inter_bold";
    margin-bottom: 0;
    margin-right: 10px;
}

h3 {
    margin: 0;
}

input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    appearance: none;
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: none;
    margin-right: 6px;
    position: relative;
    top: 2px;
}

label {
    /* Inline så måste göra till block-element */
    display: block;
    padding-top: 12px;
}

input[type="checkbox"]:checked {
    background-color: black;
}

/* Box, user input of max price */
input[type="text"] {
    position: relative;
    top: -2px;
}